/*
Design by HieuBui
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Georgia;
    background-color:orange;
}

.header {
    text-align: center;
    padding: 10px;
    color:green;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.bottomleft {
    position: relative;
    bottom: 50px;
    left: 0px;
    color: green;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    background-color:rgba(255,255,255,0.9);
    font-size: 16px;
}
.h2 {
    text-align:center;
    color:red;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.footer {
	text-align:center;
	font-size:10px;

}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}